 .u-section-1 {
  min-height: 900px;
}

.u-section-1 .u-gallery-1 {
  height: 900px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  padding: 30px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}

.u-section-1 .u-image-1 {
  width: 1149px;
  height: 646px;
  margin: -959px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 783px;
  }

  .u-section-1 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 529px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 659px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-1 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 558px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 445px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 579px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 50px 0 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 509px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 449px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-2 .u-image-2 {
  width: 285px;
  height: 95px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 329px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-2 .u-image-1 {
    height: 355px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 925px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 729px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 128px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 449px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 81px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 582px;
}

.u-section-3 .u-image-1 {
  width: 412px;
  height: 96px;
  margin: 52px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1018px;
  margin: 71px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 293px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-image-2 {
  width: 200px;
  height: 42px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-image-3 {
  width: 200px;
  height: 42px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-image-4 {
  width: 200px;
  height: 42px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 271px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-top: 208px;
    margin-bottom: -163px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 518px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 194px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 79px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 206px;
    margin-bottom: -57px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 402px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 55px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 75px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }
}